<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="/pagina-principal.css" />
</head>
<body>
    <img class="imagen" src="/CBTIS.jpg">
    <h1 class="center">"Centro de Bachillerato Tecnológico Industrial y de Servicios No. 105"</h1>
    <h3 class="center" class="deco">Febrero – Julio de 2023</h3>
    <h3 class="center" class="deco">4 Semestre Grupo D</h3>
    <h2 class="centerr">Proyecto Final de las materias Páginas Web, Desarrolla Aplicaciones
        que se ejecutan en el Cliente, Desarrolla Aplicaciones que se ejecutan
        en el Servidor</h2>

    <br>

    <div class="centerrr"><b>
        <script>
        date = new Date().toLocaleDateString();
        document.write(date);
        </script>
    </b></div>

    <br>

    <a href="http://localhost:3000/infografias/web" class="deco"><button class="boton" id="inicio" >INICIO</button></a>
</body>
</html>